The New Build Premium: A UK Housing Market Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Exploratory Data Analysis

In [4]:
#Average Price of Houses

data = pd.read_csv('./Data/Average-price-seasonally-adjusted-2025-05.csv')

In [5]:
data.head()

         Date      Region_Name  Area_Code  Average_Price_SA
0  1995-01-01          England  E92000001             50619
1  1995-01-01            Wales  W92000004             40567
2  1995-01-01           London  E12000007             79601
3  1995-01-01  East of England  E12000006             56587
4  1995-01-01       North West  E12000002             41392

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5139 entries, 0 to 5138
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              5139 non-null   object
 1   Region_Name       5139 non-null   object
 2   Area_Code         5139 non-null   object
 3   Average_Price_SA  5139 non-null   int64
dtypes: int64(1), object(3)
memory usage: 160.7+ KB